PROJECT_NAME=qd-121-pad-stamping
COMPOSE_PROJECT_NAME=qd-121-pad-stamping
DOCKER_REGISTRY=docker.io/

FRONTEND_PORT=3121
BACKEND_PORT=8121
MYSQL_PORT=3421
REDIS_PORT=6421

MYSQL_ROOT_PASSWORD=root123456
MYSQL_DATABASE=pad_stamping
MYSQL_USER=pad_user
MYSQL_PASSWORD=pad123456
REDIS_PASSWORD=redis123456

VITE_HOST=127.0.0.1
VITE_PORT=5173
VITE_STRICT_PORT=true
TZ=Asia/Shanghai
